# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
1. List popular languages for Data Science
2. List commonly used libraries used by Data Scientists
3. Creating tables in Markdown
4. Writing Arithmetic Expressions in Python
5. Inserting cells in Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript
6. Scala
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Sckit-Learn
5. Seaborn

|Data Science Tools|
|------------------|
|MongoDB
|Apache Airflow
|Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Zainab AKINTAYO